<html>
<head>

<title>{% block head_title %}SPLITBUCX{% endblock head_title %}</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% load socialaccount %}


{% block head_extra %}{% endblock head_extra  %}

</head>

<body>

  <div class='container'>
    <ol class='breadcrumb'>
          <li><a href='#'>Home</a></li>
          {% if not request.user.is_authenticated %}
          <li class='pull-right'><a href='{% url "account_signup" %}'>Register</a></li>
          <li class='pull-right'><a href='{% url "account_login" %}'>Login</a></li>
          {% else %}
          <li class='pull-right'><a href='{% url "account_logout" %}'>Logout</a></li>
          {% endif %}
  </ol>

  </div>
  <div class='container1'>
    {% block content%}
    <b>This is base page</b>
    {%if request.user.is_authenticated %}

    <p>Welcome {{ user.username }} !!!</p>
    <li><a href='#'>check wallet</a></li>
    <li><a href='#'>view profile</a></li>
    <li><a href='{% url "create" %}'>update profile</a></li>
    <li><a href='{% url "accountsettingpage" %}'>Account Setting</a></li>
    {%endif%}
    {% endblock content %}

  </div>


  <script
          src="http://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous">
  </script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

</body>

</html>
